<div class="container" style="margin-top: 2%">
  <div class="row">
    <h1>Access Rights</h1>
  </div>

  <div class="row" style="margin-bottom: 10px">
    <div class="col-md-3">
    </div>
    <div class="col-md-2">
      <button class="btn btn-basic" data-toggle="modal" data-target="#addModal">
        <span class="fa fa-plus mr-3"></span>
        Add New
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody id="tbody_access_right">
<% all_access_rights.each do |access_right| %>
          <tr>
          <input type="hidden" id="menu" value="access_right">
          <input type="hidden" id="access_right_id" value="<%= access_right.id %>">
            <td id="ar_id"><%= access_right.id %></td>
            <td id="ar_name"><%= access_right.name %></td>
          </tr>
<% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- The Modal Add -->
<div class="modal fade" id="addModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag "organize/add", method: "post" do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Access Right</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <div class="form-group">
          <%= label_tag :add_name, "Name" %>
          <%= text_field_tag :add_name, "", class: "form-control" %>
        </div>
        <%= hidden_field_tag 'menu', 'access_right' %>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <%= submit_tag "Submit", class: "btn btn-success" %>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- The Modal Edit -->
<div class="modal fade" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag "organize/alter", method: "post" do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Access Right</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :edit_ar_id, "ID" %>
              <%= text_field_tag :edit_ar_id, "", class: "form-control", readonly: true %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :edit_name, "Name" %>
              <%= text_field_tag :edit_name, "", class: "form-control" %>
            </div>
          </div>
        </div>
        <%= hidden_field_tag 'menu', 'access_right' %>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-danger" data-toggle="modal" data-dismiss="modal" data-target="#deleteModal"><span class="fa fa-trash"></span></button>
        <%= submit_tag "Save", class: "btn btn-success" %>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- The Modal Delete -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <%= form_tag "organize/discard", method: "post" do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Access Right</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure ?
        <input type="hidden" name="delete_ar_id" id="delete_ar_id">
        <%= hidden_field_tag 'menu', 'access_right' %>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <%= submit_tag "Delete", class: "btn btn-danger" %>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>