<div class="container" style="margin-top: 2%">
  <div class="row">
    <h1>Elections</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <div class="input-group mb-2">
          <%= text_field_tag :election_search, "", class: "form-control", placeholder: "Name" %>
          <div class="input-group-append">
            <div class="input-group-text"><span class="fa fa-search"></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-basic btn-block" data-toggle="modal" data-target="#addModal">
        <span class="fa fa-plus mr-3"></span>Add New</button>
    </div>
  </div>

  <div class="row">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Participants</th>
        </tr>
      </thead>
      <tbody id="tbody_election">
<% all_elections.each do |election| %>
        <tr>
        <input type="hidden" id="menu" value="election">
        <input type="hidden" id="election_id" value="<%= election.id %>">
          <td><%= election.name %></td>
          <td><%= election.description %></td>
          <td><%= election.start_date.strftime("%A, %d %B %Y") %></td>
          <td><%= election.end_date.strftime("%A, %d %B %Y") %></td>
          <td><%= election.participants %></td>
        </tr>
<% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- The Modal Add -->
<div class="modal fade" id="addModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_tag "organize/add", method: "post", :multipart => true do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Election</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :add_name, "Name" %>
              <%= text_field_tag :add_name, "", class: "form-control name-check", required: true %>
              <div class="invalid-feedback" hidden><span class="fa fa-times"></span> min 6 characters</div>
              <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :add_participants, "Participants" %>
              <%= number_field_tag :add_participants, "", class: "form-control number-check", min: 0, required: true %>
              <div class="invalid-feedback" hidden><span class="fa fa-times"></span> min 0</div>
              <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
            </div>
          </div>
        </div>


          <div class="form-group">
            <%= label_tag :add_description, "Description" %>
            <%= text_area_tag :add_description, "", class: "form-control", required: true %>
          </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :add_start_date, "Start Date" %>
              <%= date_field :add_start_date, "", class: "form-control", required: true %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :add_end_date, "End Date" %>
              <%= date_field :add_end_date, "", class: "form-control", required: true %>
            </div>
          </div>    
        </div>

        <div class="row">
          <div class="col-md-6">
            <%= image_tag "home.jpg", width: '90%', class: "rounded float-right" %>
          </div>
          <div class="col-md-6">
            <label>Add Image</label>
            <div class="custom-file">
                <%= file_field_tag :add_image, class: "custom-file-input", required: true %>
                <%= label_tag :add_image, "Choose File", class: "custom-file-label" %>
            </div>
          </div>    
        </div>
        <%= hidden_field_tag 'menu', 'election', required: true %>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <%= submit_tag "Submit", class: "btn btn-success" %>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- The Modal Edit -->
<div class="modal fade" id="editModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_tag "organize/alter", method: "post", multipart: true do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Election</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :edit_name, "Name" %>
              <%= text_field_tag :edit_name, "", class: "form-control name-check", required: true %>
              <div class="invalid-feedback" hidden><span class="fa fa-times"></span> min 6 characters</div>
              <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :edit_participants, "Participants" %>
              <%= number_field_tag :edit_participants, "", class: "form-control", min: 0, required: true %>
            </div>
          </div>
        </div>

          <div class="form-group">
            <%= label_tag :edit_description, "Description" %>
            <%= text_area_tag :edit_description, "", class: "form-control" %>
          </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :edit_start_date, "Start Date" %>
              <%= date_field :edit_start_date, "", class: "form-control", required: true %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :edit_end_date, "End Date" %>
              <%= date_field :edit_end_date, "", class: "form-control", required: true %>
            </div>
          </div>    
        </div>

        <div class="row">
          <div class="col-md-6">
            <%= image_tag "home.jpg", id: "edit_show_image", width: '90%', class: "rounded float-right" %>
          </div>
          <div class="col-md-6">
            <label>Change Image</label>
            <div class="custom-file">
                <%= file_field_tag :edit_image, class: "custom-file-input" %>
                <%= label_tag :edit_image, "Choose File", class: "custom-file-label" %>
            </div>
          </div>   
        </div>
        <input type="hidden" id="edit_election_id" name="edit_election_id" required>
        <%= hidden_field_tag 'menu', 'election', required: true %>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-danger" id="modalDeleteButton" data-dismiss="modal" data-toggle="modal" data-target="#deleteModal"><span class="fa fa-trash"></span></button>
        <%= submit_tag "Save", class: "btn btn-success" %>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- The Modal Delete -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <%= form_tag "organize/discard", method: "post" do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Election</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure ?
        <input type="hidden" id="delete_election_id" name="delete_election_id" required>
        <%= hidden_field_tag 'menu', 'election', required: true %>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <%= submit_tag "Delete", class: "btn btn-danger" %>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>