<div class="container" style="margin-top: 2%">
  <div class="row">
    <h1>Elections</h1>
  </div>

  <div class="row">
    <div class="col-sm-6">
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <div class="input-group mb-2">
          <%= text_field_tag :election_search, "", class: "form-control", placeholder: "Name" %>
          <div class="input-group-append">
            <div class="input-group-text"><span class="fa fa-search"></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-basic btn-block" data-toggle="modal" data-target="#addModal">
        <span class="fa fa-plus mr-3"></span>Add New</button>
    </div>
  </div>
<% no = true %>
  <div class="row">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Participants</th>
        </tr>
      </thead>
      <tbody id="tbody_election">
<% all_elections.each do |election| %>
  <% no = false %>
        <tr>
        <input type="hidden" id="menu" value="election">
        <input type="hidden" id="election_id" value="<%= election.id %>">
          <td><% if election.status == 0 %>
          <h5><span class="badge badge-warning">Preparing</span></h5>
          <% elsif election.status == 1 %>
          <h5><span class="badge badge-success">Running</span></h5>
          <% elsif election.status == 2 %>
          <h5><span class="badge badge-primary">Finished</span></h5>
          <% else %>
          <h5><span class="badge badge-danger">Counted</span></h5>
          <% end %></td>
          <td><%= election.name %></td>
          <td><%= election.start_date.strftime("%A, %d %B %Y") %></td>
          <td><%= election.end_date.strftime("%A, %d %B %Y") %></td>
          <td><%= election.participants %></td>
        </tr>
<% end %>
      </tbody>
    </table>
  </div>

<% if no %>
<div class="row">
<div class="col-sm-8">
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Sorry !</h4>
  <p>There seems no record of any data.</p>
  <hr>
  <p class="mb-0">You can create a new one!</p>
</div>
</div>
</div>
<% end %>
</div>

<!-- The Modal Add -->
<div class="modal fade" id="addModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_tag "organize/add", method: "post", :multipart => true do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Election</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag :add_name, "Name" %>
              <%= text_field_tag :add_name, "", class: "form-control name-check", required: true %>
              <div class="invalid-feedback" hidden><span class="fa fa-times"></span> min 6 characters</div>
              <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag :add_description, "Description" %>
              <%= text_area_tag :add_description, "", class: "form-control", required: true, rows: 4 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag :add_start_date, "Start Date" %>
              <%= date_field :add_start_date, "", class: "form-control", required: true %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag :add_end_date, "End Date" %>
              <%= date_field :add_end_date, "", class: "form-control", required: true %>
            </div>
          </div>    
        </div>

        <div class="row">
          <div class="col-sm-6">
            <%= image_tag "home.jpg", width: '90%', class: "rounded float-right" %>
          </div>
          <div class="col-sm-6">
            <label>Add Image</label>
            <div class="custom-file">
                <%= file_field_tag :add_image, class: "custom-file-input" %>
                <%= label_tag :add_image, "Choose File", class: "custom-file-label" %>
            </div>
          </div>    
        </div>
        <%= hidden_field_tag 'menu', 'election', required: true %>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <%= submit_tag "Submit", class: "btn btn-success" %>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- The Modal Edit -->
<div class="modal fade" id="editModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_tag "organize/alter", id: "form_org_alter", method: "post", multipart: true do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Election</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3"> 
            <div class="form-group" id="div-start">
              <button type="button" id="btn-start" class="btn btn-success btn-block"><span class="fa fa-play"></span> Start Election</button>
            </div>
            <div class="form-group" id="div-stop" hidden>
              <button type="button" id="btn-stop" class="btn btn-danger btn-block"><span class="fa fa-stop"></span> Stop Election</button>
            </div>
          </div>
          <div class="col-sm-3"> 
            <div class="form-group" id="div-count">
              <button type="button" id="btn-count" disabled class="btn btn-primary btn-block"><span class="fa fa-chart-bar"></span> Count Votes</button>
            </div>
            <div class="form-group" id="div-anounce" hidden>
              <button type="button" id="btn-anounce" disabled class="btn btn-info btn-block"><span class="fa fa-bullhorn"></span> Anounce Election</button>
            </div>
          </div>
          <div class="col-sm-6"> 
            <div class="form-group">
              <select class="selectpicker form-control" id="add_participants" name="add_participants[]" multiple data-live-search="true" data-selected-text-format="count" data-size="10" data-actions-box="true" title="Select participants...">
<% all_users.each do |voter| %>
                <option data-subtext="<%= voter.idNumber %>" value="<%= voter.id %>"><%= voter.name %></option>
<% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag :edit_name, "Name" %>
              <%= text_field_tag :edit_name, "", class: "form-control name-check", required: true %>
              <div class="invalid-feedback" hidden><span class="fa fa-times"></span> min 6 characters</div>
              <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag :edit_description, "Description" %>
              <%= text_area_tag :edit_description, "", class: "form-control", rows: 4 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag :edit_start_date, "Start Date" %>
              <%= date_field :edit_start_date, "", class: "form-control", required: true %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag :edit_end_date, "End Date" %>
              <%= date_field :edit_end_date, "", class: "form-control", required: true %>
            </div>
          </div>    
        </div>

        <div class="row">
          <div class="col-sm-6">
            <%= image_tag "home.jpg", id: "edit_show_image", width: '90%', class: "rounded float-right" %>
          </div>
          <div class="col-sm-6">
            <label>Change Image</label>
            <div class="custom-file">
                <%= file_field_tag :edit_image, class: "custom-file-input" %>
                <%= label_tag :edit_image, "Choose File", class: "custom-file-label" %>
            </div>
          </div>   
        </div>
        <input type="hidden" id="edit_election_id" name="edit_election_id" required>
        <%= hidden_field_tag 'menu', 'election', required: true %>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-danger" id="modalDeleteButton" data-dismiss="modal" data-toggle="modal" data-target="#deleteModal"><span class="fa fa-trash"></span></button>
        <%= submit_tag "Save", class: "btn btn-success" %>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- The Modal Delete -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <%= form_tag "organize/discard", method: "post" do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Election</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure ?
        <input type="hidden" id="delete_election_id" name="delete_election_id" required>
        <%= hidden_field_tag 'menu', 'election', required: true %>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <%= submit_tag "Delete", class: "btn btn-danger" %>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
