<div class="container" style="margin-top: 2%">
  <div class="row">
    <h1>Organizers</h1>
  </div>

  <div class="row" style="margin-bottom: 10px">
    <div class="col-md-7">
    </div>
    <div class="col-md-2">
      <button class="btn btn-basic" data-toggle="modal" data-target="#addModal">
        <span class="fa fa-plus mr-3"></span>
        Add New
      </button>
    </div>
    <div class="col-md-3">
      <%= file_field_tag "addorganizer", class: "form-control-file" %>
    </div>
  </div>

  <div class="row">
    <table class="table table-hover table-responsive">
      <thead class="thead-light">
        <tr>
          <th>User ID</th>
          <th>Election ID</th>
          <th>Access Right ID</th>
          <th>Name</th>
          <th>ID Number</th>
          <th>E-mail</th>
          <th>Username</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>Jane Dore</td>
          <td>3201051406982350</td>
          <td>janedore@email.com</td>
          <td>janedore</td>
          <td><button class="btn btn-secondary" data-toggle="modal" data-target="#editModal"><span class="fa fa-edit"></span></button>
          <button class="btn btn-dark" data-toggle="modal" data-target="#deleteModal"><span class="fa fa-trash"></span></button></td>
        </tr>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>Jane Dore</td>
          <td>3201051406982350</td>
          <td>janedore@email.com</td>
          <td>janedore</td>
          <td><button class="btn btn-secondary"><span class="fa fa-edit"></span></button>
          <button class="btn btn-dark"><span class="fa fa-trash"></span></button></td>
        </tr>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>Jane Dore</td>
          <td>3201051406982350</td>
          <td>janedore@email.com</td>
          <td>janedore</td>
          <td><button class="btn btn-secondary"><span class="fa fa-edit"></span></button>
          <button class="btn btn-dark"><span class="fa fa-trash"></span></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- The Modal Add -->
<div class="modal fade" id="addModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_tag "#", method: "get" do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Organizer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :user_id, "User ID" %>
              <%= text_field_tag :user_id, "", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :election_id, "Election ID" %>
              <%= text_field_tag :election_id, "", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :access_right_id, "Access Right ID" %>
              <%= text_field_tag :access_right_id, "", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :name, "Name" %>
              <%= text_field_tag :name, "", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :id_number, "ID Number" %>
              <%= text_field_tag :id_number, "", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :email, "E-mail" %>
              <%= text_field_tag :email, "", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :phone, "Phone Number" %>
              <%= text_field_tag :phone, "", class: "form-control" %>
            </div>
          </div>
        </div>
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <%= submit_tag "Submit", class: "btn btn-success" %>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- The Modal Edit -->
<div class="modal fade" id="editModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_tag "#", method: "get" do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Organizer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :user_id, "User ID" %>
              <%= text_field_tag :user_id, "", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :election_id, "Election ID" %>
              <%= text_field_tag :election_id, "", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :access_right_id, "Access Right ID" %>
              <%= text_field_tag :access_right_id, "", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :name, "Name" %>
              <%= text_field_tag :name, "", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :id_number, "ID Number" %>
              <%= text_field_tag :id_number, "", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :phone, "Phone Number" %>
              <%= text_field_tag :phone, "", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :email, "E-mail" %>
              <%= text_field_tag :email, "", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :username, "Username" %>
              <%= text_field_tag :username, "", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :address, "Blockchain Address" %>
              <%= text_field_tag :address, "", class: "form-control", readonly: true %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :public_key, "Blockchain Public Key" %>
              <%= text_field_tag :public_key, "", class: "form-control", readonly: true %>
            </div>
          </div>
          <div class="col-md-4">
            <div style="margin-top: 24px; padding-top: 0.5rem;">
              <%= button_tag "Generate new Key", class: "btn btn-basic" %>
            </div>
          </div>
        </div>
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <%= submit_tag "Save", class: "btn btn-success" %>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- The Modal Delete -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Organizer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure ?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>