<div class="container" style="margin-top: 2%">
  <div class="row">
    <h1>Voters</h1>
  </div>

  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="input-group mb-2">
          <%= text_field_tag :voter_search, "", class: "form-control", placeholder: "Name" %>
          <div class="input-group-append">
            <div class="input-group-text"><span class="fa fa-search"></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-basic btn-block" data-toggle="modal" data-target="#addModal">
        <span class="fa fa-plus mr-3"></span>Add New</button>
    </div>
    <div class="col-md-2">
      <div class="custom-file" data-toggle="modal" data-target="#addFileModal">
        <button type="button" class="btn btn-secondary btn-block"><span class="fa fa-file-upload mr-3"></span>Add Some</button>
      </div>
    </div> 

  </div>

  <div class="row">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Election</th>
          <th>Name</th>
          <th>ID Number</th>
          <th>E-mail</th>
          <th>Username</th>
          <th>Attend</th>
          <th>Vote</th>
        </tr>
      </thead>
      <tbody id="tbody_voter">
<% all_voters.each do |voter| %>
  <% voter(voter.id).each do |vot| %>
        <tr>
        <input type="hidden" id="menu" value="voter">
        <input type="hidden" id="user_id" value="<%= voter.id %>">
        <input type="hidden" id="other_id" value="<%= vot.id %>">
          <td><%= vot.election_id %></td>
          <td><%= voter.name %></td>
          <td><%= voter.idNumber %></td>
          <td><%= voter.email %></td>
          <td><%= voter.username %></td>
          <td><%= vot.hasAttend %></td>
          <td><%= vot.hasVote %></td>
        </tr>
  <% end %>
<% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- The Modal Add -->
<div class="modal fade" id="addModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_tag "organize/add", method: "post" do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Voter</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :add_user_id, "User" %>
              <select name="add_user_id" id="add_user_id" class="custom-select">
                <option value="0">--= NEW USER =--</option>
<% all_users.each do |user| %>
                <option value="<%= user.id %>"><%= user.name =%></option>
<% end %>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :add_election_id, "Election" %>
              <select name="add_election_id" id="add_election_id" class="custom-select">
<% all_elections.each do |election| %>
                <option value="<%= election.id %>"><%= election.name =%></option>
<% end %>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :add_name, "Name" %>
              <%= text_field_tag :add_name, "", class: "form-control name-check", required: true %>
              <div class="invalid-feedback" hidden><span class="fa fa-times"></span> min 6 characters</div>
              <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :add_id_number, "ID Number" %>
              <%= text_field_tag :add_id_number, "", class: "form-control idnumber-check", required: true %>
              <div class="invalid-feedback" hidden><span class="fa fa-times"></span> ex: m26415123, c14150123</div>
              <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :add_email, "E-mail" %>
              <%= text_field_tag :add_email, "", class: "form-control email-check", required: true %>
              <div class="invalid-feedback" hidden><span class="fa fa-times"></span> ex: name@email.com, username@serv.univ.ac.id</div>
              <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :add_phone, "Phone Number" %>
              <%= text_field_tag :add_phone, "", class: "form-control phone-check", required: true %>
              <div class="invalid-feedback" hidden><span class="fa fa-times"></span> Numeric, ex: 021-1234567, 081234567890</div>
              <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
            </div>
          </div>
        </div>
        <%= hidden_field_tag 'menu', 'voter', required: true %>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <%= submit_tag "Submit", class: "btn btn-success" %>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- The Modal Edit -->
<div class="modal fade" id="editModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_tag "organize/alter", method: "post" do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Voter</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :edit_user_id, "User ID" %>
              <%= text_field_tag :edit_user_id, "", class: "form-control", readonly: true, required: true %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :edit_election_id, "Election" %>
              <select name="edit_election_id" id="edit_election_id" class="custom-select">
                <% all_elections.each do |election| %>
                <option value="<%= election.id %>"><%= election.name =%></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :edit_name, "Name" %>
              <%= text_field_tag :edit_name, "", class: "form-control name-check", readonly: true, required: true %>
              <div class="invalid-feedback" hidden><span class="fa fa-times"></span></div>
              <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :edit_id_number, "ID Number" %>
              <%= text_field_tag :edit_id_number, "", class: "form-control idnumber-check", readonly: true, required: true %>
              <div class="invalid-feedback" hidden><span class="fa fa-times"></span></div>
              <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :edit_phone, "Phone Number" %>
              <%= text_field_tag :edit_phone, "", class: "form-control phone-check", readonly: true, required: true %>
              <div class="invalid-feedback" hidden><span class="fa fa-times"></span></div>
              <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :edit_email, "E-mail" %>
              <%= text_field_tag :edit_email, "", class: "form-control email-check", required: true %>
              <div class="invalid-feedback" hidden><span class="fa fa-times"></span> ex: name@email.com, username@serv.univ.ac.id</div>
              <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :edit_username, "Username" %>
              <%= text_field_tag :edit_username, "", class: "form-control username-check" %>
              <div class="invalid-feedback" hidden><span class="fa fa-times"></span> Alphanumeric min 6 characters</div>
              <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :edit_address, "Blockchain Address" %>
              <%= text_area_tag :edit_address, "", class: "form-control", readonly: true, rows: 4  %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :edit_public_key, "Blockchain Public Key" %>
              <%= text_area_tag :edit_public_key, "", class: "form-control", readonly: true, rows: 4  %>
            </div>
          </div>
          <div class="col-md-4">
            <div style="margin-top: 24px; padding-top: 0.5rem;">
              <%= button_tag "Generate new Key", class: "btn btn-basic" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="edit_hasattend" name="edit_hasattend"/>
              <label class="custom-control-label" for="edit_hasattend">Attended</label>
            </div>
          </div>

          <div class="col-md-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="edit_hasvote" name="edit_hasvote"/>
              <label class="custom-control-label" for="edit_hasvote">Voted</label>
            </div>
          </div>
        </div>
        <input type="hidden" name="edit_voter_id" id="edit_voter_id" required>
        <%= hidden_field_tag 'menu', 'voter', required: true %>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-danger" data-toggle="modal" data-dismiss="modal" data-target="#deleteModal"><span class="fa fa-trash"></span></button>
        <%= submit_tag "Save", class: "btn btn-success" %>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- The Modal Delete -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <%= form_tag "organize/discard", method: "post" do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Voter</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure ?
        <input type="hidden" name="delete_voter_id" id="delete_voter_id" required>
        <%= hidden_field_tag 'menu', 'voter', required: true %>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <%= submit_tag "Delete", class: "btn btn-danger" %>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    <% end %>
    </div>
  </div>
</div>

<!-- The Modal File -->
<div class="modal fade" id="addFileModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <%= form_tag "organize/addbyfile", method: "post", multipart: true do %>

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Some Voters</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="custom-file">
              <%= file_field_tag :addfile, class: "custom-file-input", required: true %>
              <%= label_tag :addfile, "Choose File CSV", class: "custom-file-label" %>
              <%= hidden_field_tag 'menu', 'voter', required: true %>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <%= submit_tag "Submit", class: "btn btn-primary" %>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>