<div class="container" style="margin-top: 5%;">
<!--<%= image_tag 'petra.png', width: '50%', style: "display: block; margin: 0 auto;" %>-->
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    <%= image_tag 'petra.png', width: '25%', class: "img-fluid rounded mx-auto d-block" %>
      <h1 class="text-center">Welcome to CryptVotes</h1>
      <br/>
      <div class="col-sm-12">
        <ul class="nav nav-tabs nav-justified" >
<% if @regis.present? %>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#home">Login</a></li>
          <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#regisemail">Reset Account</a></li>
<% else %>
          <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">Login</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#regisemail">Reset Account</a></li>
<% end %>
        </ul>
        <br/>
<% if flash[:alert].present? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= flash[:alert] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
<% end %>
<% if flash[:notice].present? %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
<% end %>
<% if flash[:success].present? %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= flash[:success] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
<% end %>
        <div class="tab-content">
<% if @regis.present? %>
          <div id="home" class="tab-pane fade in">
<% else %>
          <div id="home" class="tab-pane fade in active show">
<% end %>
            <%= form_tag "/home", id: "loginForm", method: "post" do %>
              <div class="form-group">
                <%= label_tag :username, "Username", class: "form-control-label" %>
                <%= text_field_tag :username, "", class: "form-control", required: true %>
                <div class="invalid-feedback" hidden><span class="fa fa-times"></span> Alphanumeric min 6 characters</div>
                <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
              </div>

              <div class="form-group">
                <%= label_tag :password, "Password" %>
                <%= password_field_tag :password, "", class: "form-control", required: true %>
                <div class="invalid-feedback" hidden><span class="fa fa-times"></span> Alphanumeric min 8 characters</div>
                <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
              </div>

              <%= submit_tag "Sign In", class: "btn btn-success btn-block" %>
            <% end %>
            <br/>
          </div>
<% if @regis.present? %>
          <div id="register" class="tab-pane fade active show">
<% else %>
          <div id="register" class="tab-pane fade">
<% end %>
            <%= form_tag "/home/register", id: "registerForm", method: "post" do %>
              <div class="form-group">
                <%= label_tag :name, "Name" %>
                <%= text_field_tag :name, "", class: "form-control", required: true %>
                <div class="invalid-feedback" hidden><span class="fa fa-times"></span> min 6 characters</div>
                <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
              </div>
      
              <div class="form-group">
                <%= label_tag :idnumber, "ID Number" %>
                <%= text_field_tag :idnumber, "", class: "form-control", required: true %>
                <div class="invalid-feedback" hidden><span class="fa fa-times"></span> ex: m26415123, c14150123</div>
                <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
              </div>
      
              <div class="form-group">
                <%= label_tag :email, "E-mail" %>
                <%= email_field_tag :email, "", class: "form-control", required: true %>
                <div class="invalid-feedback" hidden><span class="fa fa-times"></span> ex: name@email.com, username@serv.univ.ac.id</div>
                <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
              </div>
      
              <div class="form-group">
                <%= label_tag :phone, "Phone Number" %>
                <%= text_field_tag :phone, "", class: "form-control", required: true %>
                <div class="invalid-feedback" hidden><span class="fa fa-times"></span> Numeric, ex: 021-1234567, 081234567890</div>
                <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
              </div>
      
              <%= submit_tag "Submit", class: "btn btn-success btn-block" %>
            <% end %>
          </div>

          <div id="regisemail" class="tab-pane fade">
            <%= form_tag "/home/email", id: "regisEmailForm", method: "post" do %>
              <div class="form-group">
                <%= label_tag :verifyemail, "Email" %>
                <%= email_field_tag :verifyemail, "", class: "form-control", required: true %>
                <div class="invalid-feedback" hidden><span class="fa fa-times"></span> ex: name@email.com, username@serv.univ.ac.id</div>
                <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
              </div>
             <%= submit_tag "Send Verification E-mail", class: "btn btn-primary btn-block" %>
             <br />
              <div class="row">
                <div class="col-sm-6">
                  <button type="button" id="word_button" class="btn btn-basic btn-block">Forget Password</button>
                </div>
                <div class="col-sm-6">
                  <button type="button" id="phrase_button" class="btn btn-basic btn-block">Reset PIN</button>
                </div>
              </div>
            <% end %>
            <br/>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
      <a href="home/verify" class="btn btn-info">Verify Page &nbsp<span class="fa fa-arrow-right"></span></a>
    </div>
  </div>
</div>