<div class="container-fluid" style="margin-top: 2%">
	<h1>Vote Result</h1>
	<table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
					<th>Participants</th>			
        </tr>
      </thead>
      <tbody id="tbody_result">
<% all_elections_result.each do |elec| %>
        <tr>
        <input type="hidden" id="elec_id" value="<%= elec.id %>">
          <td><%= elec.name %></td>
          <td><%= elec.description %></td>
          <td><%= elec.start_date %></td>
          <td><%= elec.end_date %></td>
          <td><%= elec.participants %></td>
        </tr>
<% end %>
      </tbody>
  </table>

  
  <div class="card-columns" id="electresult_card">
<% all_elections.each do |elec| %>
    <div class="card bg-light" style="width:400px">
    <input type="hidden" id="elec_id" value="<%= elec.id %>">
      <img class="card-img-top" src="<%= elec.image %>" alt="Card image">
      <div class="card-body">
        <h4 class="card-title"><%= elec.name %></h4>
        <p class="card-text"><%= elec.description %></p>
        <p class="card-text"><%= elec.participants %> participants<br />
        <%= elec.start_date.strftime("%A, %d %B %Y") %> - <%= elec.end_date.strftime("%A, %d %B %Y") %></p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
<% end %>
    
  </div>
</div>