<div class="container" style="margin-top: 5%;">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h1 class="text-center">Setting Up Account</h1>
      <br />
      <%= form_tag "/home/setup", id: "setupForm", method: "post" do %>
        <div class="form-group">
          <%= label_tag :username, "New Username" %>
          <%= text_field_tag :username, "", class: "form-control", required: true %>
          <div class="invalid-feedback" hidden><span class="fa fa-times"></span> Alphanumeric min 6 characters</div>
          <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
        </div>

        <div class="form-group">
          <%= label_tag :password, "New Password" %>
          <%= password_field_tag :password, "", class: "form-control", required: true %>
          <div class="invalid-feedback" hidden><span class="fa fa-times"></span> Alphanumeric min 8 characters</div>
          <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
        </div>

        <div class="form-group">
          <%= label_tag :passphrase, "New Passphrase" %>
          <%= password_field_tag :passphrase, "", class: "form-control", required: true %>
          <div class="invalid-feedback" hidden><span class="fa fa-times"></span> Numeric 6 digits</div>
          <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
          <small class="text text-info">Note: Your passphrase will used to generate keys and not saved to the system</small>
        </div>
        <input type="hidden" name="user_id" id="user_id" value="<%= @user_id %>" required>
        <%= submit_tag "Submit", class: "btn btn-success btn-block" %>
      <% end %>
    </div>
  </div>
</div>