<div class="container" style="margin-top: 2%">
	<h2>Vote Result of</h2>
	<h2><%= @el.name %> Election</h2>
	<br />
	<div class="row">
		<div class="col-md-6">
			<h4>Bar Chart</h4>
			<%= bar_chart @data %>
		</div>
		<div class="col-md-6">
			<h4>Pie Chart</h4>
			<%= pie_chart @data %>
		</div>
	</div>
	<br />
	<br />
	<div class="row" style="margin: 10px 0px;">
		<div class="col-md-6">
			<h4>Table</h4>
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
			
		<a href="/voter/result/<%= @el.id %>/download.csv" class="btn btn-primary"><span class="fa fa-download"></span> Download Data</a>
		</div>
	</div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-responsive" style="font-size: 12px">
        <thead class="thead-light">
          <tr>
            <th>TxID</th>
            <th>Election</th>
            <th>Candidate</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <% all_result_data(@el.id).each do |tx|
            cand = User.find(tx.candidate) %>
            <tr>
              <td><%= tx.txid %></td>
              <td><%= @el.name %></td>
              <td><%= cand.name %></td>
              <td><%= tx.fromAddress %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
	</div>
</div>