<div class="container" style="margin-top: 2%;">
  <div class="row">
    <h1>Individual Ballot Verification</h1>
  </div>
<% no = true %>
    <div class="row">
      <div class="col-sm-6" id="isimessage">
      </div>
    </div>
    
    <div class="card-columns" id="electverify_card">
<% all_elections_end(session[:current_user_id].to_s).each do |elec| %>
  <% no = false %>
      <div class="card bg-light" style="width:300px">
        <img class="card-img-top" src="<%= elec.image %>" alt="Card image">
        <div class="card-body">
          <h4 class="card-title"><%= elec.name %></h4>
          <p class="card-text"><%= elec.description %></p>
          <p class="card-text"><%= elec.participants %> participants<br />
          <%= elec.start_date.strftime("%A, %d %B %Y") %> - <%= elec.end_date.strftime("%A, %d %B %Y") %></p>
          <button class="btn btn-secondary" id="openbutt"><span class="fa fa-lock-open"></span> Open Transaction</button>
          <input type="hidden" id="elec_id" value="<%= elec.id %>">
        </div>
      </div>
<% end %>

    </div>
  </div>

<% if no %>
<div class="row">
<div class="col-sm-6">
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Sorry !</h4>
  <p>You does not seem to have voted yet.</p>
  <hr>
  <p class="mb-0">You can go vote on <a href="/voter?menu=vote" class="alert-link">this page</a>.</p>
</div>
</div>
</div>
<% end %>
</div>

<!-- verify modal -->
<div class="modal fade" id="verifyModal" style="overflow: scroll">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Detail Ballot</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <center>
          <div class="card" style="width: 300px;">
            <img class="card-img-top" id="data_img" src="/assets/default.jpg" alt="Card image">
            <div class="card-body">
              <h5 class="card-title" id="data_title"></h5>
              <p class="card-text" id="data_text"></p>
            </div>
          </div>
        </center>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= label_tag :data, "Raw Data" %>
              <%= text_field_tag :data, "", class: "form-control", readonly: true %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= label_tag :txid, "Vote ID / Transaction ID" %>
              <%= text_area_tag :txid, "", class: "form-control", readonly: true %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= label_tag :blockhash1, "Included in Block" %>
              <%= text_area_tag :blockhash1, "", class: "form-control", readonly: true %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= label_tag :fromaddress, "Sender Address" %>
              <%= text_area_tag :fromaddress, "", class: "form-control", readonly: true %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= label_tag :toaddress, "Receiver Address" %>
              <%= text_area_tag :toaddress, "", class: "form-control", readonly: true %>
            </div>
          </div>
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-primary" id="verifybutt"><span class="fa fa-exclamation-triangle"></span> Verify</button>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- pass Modal -->
<div class="modal fade" id="passModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <%= form_tag "#", id: "formPass", method: "post" do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Input PIN</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <div class="form-group">
          <%= label_tag :passphrase, "PIN" %>
          <%= password_field_tag :passphrase, "", class: "form-control passphrase-check", placeholder: "PIN", required: true %>
          <div class="invalid-feedback" hidden><span class="fa fa-times"></span> Numeric 6 digits</div>
          <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
        </div>
        <input type="hidden" id="openverify" name="openverify" required>
        <input type="hidden" id="elect_id" name="elect_id" required>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" id="verifySubmit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>