<div class="container" style="margin-top: 2%;">
  <div class="row">
    <h1>Individual Ballot Verification</h1>
  </div>

    <br />
    <div class="card-columns" id="electverify_card">
<% all_elections_end(session[:current_user_id].to_s).each do |elec| %>
      <div class="card bg-light" style="width:300px">
        <img class="card-img-top" src="<%= elec.image %>" alt="Card image">
        <div class="card-body">
          <h4 class="card-title"><%= elec.name %></h4>
          <p class="card-text"><%= elec.description %></p>
          <p class="card-text"><%= elec.participants %> participants<br />
          <%= elec.start_date.strftime("%A, %d %B %Y") %> - <%= elec.end_date.strftime("%A, %d %B %Y") %></p>
          <button class="btn btn-secondary" id="openbutt"><span class="fa fa-lock-open"></span> Open Transaction</button>
          <input type="hidden" id="elec_id" value="<%= elec.id %>">
        </div>
      </div>
<% end %>

    </div>
  </div>
</div>

<!-- verify modal -->
<div class="modal fade" id="verifyModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Detail Ballot</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-danger" id="verifybutt"><span class="fa fa-exclamation-triangle"></span> Verify</button>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- pass Modal -->
<div class="modal fade" id="passModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <%= form_tag "#", id: "formPass", method: "post" do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Input Passphrase</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <div class="form-group">
          <%= label_tag :passphrase, "Passphrase" %>
          <%= password_field_tag :passphrase, "", class: "form-control" %>
        </div>
        <input type="hidden" id="openverify" name="openverify">
        <input type="hidden" id="elect_id" name="elect_id">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>