<div class="container" style="margin-top: 2%">
  <h1>Time to Vote</h1>
<% no = true %>
  <div class="card-columns" id="electvote_card">
<% all_elections_vote(session[:current_user_id].to_s).each do |elec| %>
  <% no = false %>
    <div class="card bg-light" style="width:300px">
      <img class="card-img-top" src="<%= elec.image %>" alt="Card image">
      <input type="hidden" id="elec_id" value="<%= elec.id %>">
      <div class="card-body">
        <h4 class="card-title"><%= elec.name %></h4>
        <p class="card-text"><%= elec.description %></p>
        <p class="card-text"><%= elec.participants %> participants<br />
        <%= elec.start_date.strftime("%A, %d %B %Y") %> - <%= elec.end_date.strftime("%A, %d %B %Y") %></p>
        <button class="btn btn-dark"><span class="fa fa-file-signature"></span> Vote</button>
      </div>
    </div>
  <% end %>
  </div>

<% if no %>
<div class="row">
<div class="col-sm-6">
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Sorry !</h4>
  <p>For now there is no running election.</p>
  <hr>
  <p class="mb-0">You can reach our organizer for any upcoming election.</p>
</div>
</div>
</div>
<% end %>
</div>

<input type="hidden" id="pbkey" value="<%= File.read('.keysdata/server_pbkey.pem') %>">

<div class="modal fade" id="voteModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_tag "/vote", id: "voteForm", method: "post" do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Ballot</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        
        <div class="card-columns" id="card_list">
        
        </div>
        <input type="hidden" id="vote_election_id" name="vote_election_id" required>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-sm-4">
          <div class="card bg-light" id="abstain_vote">
            <div class="card-body">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="vote_candidate_id" value="0" required>
                <label class="custom-control-label">Abstance</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <%= password_field_tag :passphrase, "", class: "form-control passphrase-check", placeholder: "PIN", required: true %>
          <div class="invalid-feedback" hidden><span class="fa fa-times"></span> Numeric 6 digits</div>
          <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
        </div>
        <%= submit_tag "Submit", id: "voteSubmit", class: "btn btn-success" %>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>