<div class="container" style="margin-top: 2%">
  <h1>Time to Vote</h1>

  <div class="card-columns" id="electvote_card">
<% all_elections_vote(session[:current_user_id].to_s).each do |elec| %>
    <div class="card bg-light" style="width:300px">
      <img class="card-img-top" src="<%= elec.image %>" alt="Card image">
      <input type="hidden" id="elec_id" value="<%= elec.id %>">
      <div class="card-body">
        <h4 class="card-title"><%= elec.name %></h4>
        <p class="card-text"><%= elec.description %></p>
        <p class="card-text"><%= elec.participants %> participants<br />
        <%= elec.start_date.strftime("%A, %d %B %Y") %> - <%= elec.end_date.strftime("%A, %d %B %Y") %></p>
        <button class="btn btn-dark"><span class="fa fa-file-signature"></span> Vote</button>
      </div>
    </div>
  <% end %>

  </div>
</div>

<div class="modal fade" id="voteModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_tag "/vote", id: "voteForm", method: "post" do %>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Ballot</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        
        <div class="card-columns" id="card_list">
          
        </div>
        <input type="hidden" id="vote_election_id" name="vote_election_id" required>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-md-4">
          <%= password_field_tag :passphrase, "", class: "form-control passphrase-check", placeholder: "Passphrase", required: true %>
          <div class="invalid-feedback" hidden><span class="fa fa-times"></span> Numeric 6 digits</div>
          <div class="valid-feedback" hidden><span class="fa fa-check"></span></div>
        </div>
        <%= submit_tag "Submit", id: "voteSubmit", class: "btn btn-success" %>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>