<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand mr-auto" href="#">
  <%= image_tag 'petra.png', size: '30', class: "d-inline-block align-top" %>
    <span class="menu-collapsed">Welcome Voter !</span>
  </a>

  <ul class="navbar-nav">
    <li class="nav-item"><a href="#" class="nav-link">
      <%= image_tag 'person.jpg', size: '30', class: "rounded-circle" %>
      Welcome, <%= @name %> !&nbsp</a>
    </li>
    <li class="nav-item">
      <select id="user_role" class="custom-select">
<% @status.each do |stts| %>
        <option value="<%= stts %>">
        <%= "Voter" if stts.to_i == 0 %>
        <%= "Organizer" if stts.to_i == 1 %>
        <%= "Admin Organizer" if stts.to_i == -1 %></option>
<% end %>
      </select>
  </ul>
</nav>

<div class="row" id="body-row">
  <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
    <ul class="list-group">
      <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed" style="background-color: #333;">
        <small>MAIN MENU</small>
      </li>
				
      <a href="/voter?menu=home" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-home fa-fw mr-3"></span>
          <span class="menu-collapsed">Vote Result</span>
        </div>
      </a>

      <a href="/voter?menu=vote" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-inbox fa-fw mr-3"></span>
          <span class="menu-collapsed">Vote!</span>
          <h5 style="padding-left: 50px"><span class="badge badge-pill badge-primary">New</span></h5>
        </div>
      </a>
      <a href="/voter?menu=verify" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-clipboard-check fa-fw mr-3"></span>
          <span class="menu-collapsed">Vote History</span>
        </div>
      </a>

      <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed" style="background-color: #333;">
        <small>OPTIONS</small>
      </li>
<!--
      <a href="/voter?menu=setting" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-cog fa-fw mr-3"></span>
          <span class="menu-collapsed">Settings</span>
        </div>
      </a>
-->
      <a href="/voter?menu=change_password" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-lock fa-fw mr-3"></span>
          <span class="menu-collapsed">Change Password</span>
        </div>
      </a>

      <a href="/voter/logout" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-door-open fa-fw mr-3"></span>
          <span class="menu-collapsed">Sign Out</span>
        </div>
      </a>
<!--
      <li class="list-group-item logo-separator d-flex justify-content-center">
          <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30">
      </li>
-->
    </ul>
  </div>

  <div class="col">
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
<% if flash[:alert].present? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= flash[:alert] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
<% end %>
<% if flash[:notice].present? %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
<% end %>
<% if flash[:success].present? %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= flash[:success] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
<% end %>
      </div>
    </div>
    <%= render @menu %>
  </div>
</div>